@import url('normal.css');

.colors_theme {
    background-color: rgb(230, 230, 230);
    color: darkslategray;

}
 /* 
    SPIS TREŚCI
        1. html, body
        2. wrapeer
        3. header 
        4. footer 
        5. main
        6. nav_przedmioty
        7. nav_dzialy
        8. content
        9. article
 */


/* ------------  1. html, body ----------------------------- */
/* --------------------------------------------------------- */

html {
    font-size: 62.5%;
}

body {
    background-color: rgb(230, 230, 230); 
    font-size: 14px;
    font-size: 1.4rem; /* =14px */
}
@media screen and (min-width: 750px) {
    body {
        padding: 3rem;
    }
}

@media screen and (min-width: 1600px) {
    body {
        padding-left: 5%;
        padding-right: 5%;
    }
}

@media screen and (min-width: 2000px) {
    body {
        padding-left: 15%;
        padding-right: 15%;
    }
}

/* ------------  2. wrapeer -------------------------------- */
/* --------------------------------------------------------- */
.wrapper {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

/* ------------  3. header --------------------------------- */
/* --------------------------------------------------------- */

@media screen and (min-width: 750px) {}

.header {
    box-sizing: border-box;
    background-color: darkslategray;
    min-height: 60px;
}

/*-------------  4. footer  -------------------------------- */
/* --------------------------------------------------------- */
.footer {
    box-sizing: border-box;
    background-color: darkslategray;
    min-height: 30px;
}

/*-------------  5. main ----------------------------------- */
/* --------------------------------------------------------- */
.main {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 750px) {
    .main {
        flex-direction: row;
        align-items: stretch;
    }
}

/* ------------  6. nav_przedmioty ------------------------- */


/* --------------------------------------------------------- */
.nav_przedmioty {
    box-sizing: border-box;
    background-color: darkslategray;
    width: 100%;
    min-height: 80px;
    /* tymczasowe */
}

@media screen and (min-width: 750px) {
    .nav_przedmioty {
        min-width: 140px;
        flex: 1;
    }
}

/* ------------  7. nav_dzialy ----------------------------- */
/* --------------------------------------------------------- */


/* ------------  8. content -------------------------------- */
/* --------------------------------------------------------- */

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(230, 230, 230);
}

@media screen and (min-width: 750px) {
    .content {
        flex: 4;
        align-items: center;
    }
}

@media screen and (min-width: 1200px) {
    .content {
        flex: 6;
        flex-wrap: wrap;
        flex-direction: row;  
        align-items: center;
        justify-content: space-around;
     
    }
}

/* ------------  9. article -------------------------------- */
/* --------------------------------------------------------- */

.article { 
    box-sizing: border-box;
    background-color: white;
    border: 1px solid darkblue;
    /* border-radius: 10px; */
    /* min-width: 25%; */
    max-width: 95%;
    margin: 10px;
    padding: 10px;
}

@media screen and (min-width: 600px) {
    .article {
        max-width: 90%;
    }
}


@media screen and (min-width: 750px) {
    .article {
        max-width: 80%;
    }
}

@media screen and (min-width: 1200px) {
    .article {
        max-width: 45%;
    }
}

/* --------------------------------------------------------- */
