@import url('normal.css');

.colors_theme {
    background-color: rgb(230, 230, 230);
    color: #969696;
    color: rgb(150, 150, 150);
    color: #FF4747;
    color: rgb(255, 71, 71);
    color: #47B9FF;
    color: rgb(71, 185, 255);
    color: #3E86B3;
    color: rgb(62, 134, 179);

    color: rgb(70, 70, 70);
}

/* 
    SPIS TREŚCI
        0. Znaczniki podstawowe
        1. html, body
        2. wrapeer
        3. header 
        4. nav_przedmioty
        5. footer 
        6. main
        7. nav_dzialy
        8. content
        9. article
 */

/* ------------  0. Znaczniki podstawowe ------------------- */
/* --------------------------------------------------------- */

p {
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
}

/* ------------  1. html, body ----------------------------- */
/* --------------------------------------------------------- */

html {
    font-size: 62.5%;
    font-family: "Roboto", sans-serif;
}

body {
    background-color: rgb(230, 230, 230);
    font-size: 14px;
    font-size: 1.4rem;
    line-height: 1.4;
}


/* ------------  2. wrapeer -------------------------------- */
/* --------------------------------------------------------- */
.wrapper {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

/* ------------  3. header --------------------------------- */
/* --------------------------------------------------------- */
/* !!!!????????? */
@media screen and (min-width: 750px) {}

.header {
    min-height: 130px;
    box-sizing: border-box;
    position: relative;
    background-color: rgb(230, 230, 230);
    box-shadow: 0 10px 8px #888888;
    display: flex;
    justify-content: space-between;
    /* align-items: stretch; */
    background-image: url("../images/p8.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-repeat: repeat-y;
    padding: 10px;
    transition: background-image 0.5s ease;
}

/* .header::before {
    content: "";
    position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background-color: rgba(230,230,230, .5);
  filter: grayscale(100%);
} */

.newBackground01 {
    background-image: url("../images/computer-repair.png")
        /* background-blend-mode: normal; */
}

.logo {
    box-sizing: border-box;
    /* padding: 25px; */
    text-align: center;
    width: 20vw;
    min-width: 100px;
    transition: filter 0.7s ease;

}

.logo img {
    transform: scale(0.8);
    filter: drop-shadow(1px 1px 2px #888888);
    margin: 0;
}

.logo p {
    font-size: 1.25rem;
    transform: translateY(-10px);
    color: rgb(62, 134, 179);
    font-weight: 600;
}

.filtr_logo {
    filter: saturate(180%) brightness(120%) drop-shadow(4px 4px 4px black);
}

.title {
    z-index: 20;
    box-sizing: border-box;
    width: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title h1 {
    font-family: 'Audiowide';
    /* font-family: 'Orbitron'; */
    display: block;
    font-size: 1.8rem;
    font-weight: 800;
    /* text-shadow: 2px 2px 1px #888888; */
    margin: 5px auto 12px auto;
    /* color: rgb(62, 134, 179); */
    color: rgb(70, 70, 70);
    text-shadow: 1px 1px 2px #888888;
}

@media screen and (min-width: 750px) {
    .title {
        width: 50vw;
    }

    .title h1 {
        box-sizing: border-box;
        font-size: 2.5rem;
        letter-spacing: 2px;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 25px;
        padding-right: 25px;
        width: auto;
        margin-bottom: 0;
    }
}


/* ------------  4. nav_dzialy ----------------------------- */
.nav_dzialy {
    z-index: 20;
    box-sizing: border-box;
    width: 30vw;
    display: flex;
    flex-direction: column;

    /* align-items: stretch; */
    /* align-content: flex-end; */
}

.nav_dzialy ul {
    box-sizing: border-box;
    display: block;
    /* width: 100%; */
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    /* border: 1px solid rgba(62, 134, 179, 0.301); */
    /* box-shadow: 1px 1px 2px #888888; */
    /* border-radius: 5px; */
    /* background-color: rgba(255, 255, 255, 0.4); */
    background-color: rgb(150, 150, 150);


}

@media screen and (min-width: 1150px) {
    .nav_dzialy ul {
        justify-content: space-around;
    }
}

.nav_dzialy li {
    /* background-color: rgba(230, 230, 230, 0.5); */
    box-sizing: border-box;
    /* display: block; */
}

.nav_dzialy a {
    box-sizing: border-box;
    display: block;
    padding: 5px 10px 5px 10px;
    /* text-decoration: none;
    letter-spacing: 1px;
    font-weight: 800;
    color: rgb(62, 134, 179); */
    /* text-shadow: 2px 2px 1px #cacaca; */
    /* text-shadow: 1px 1px 2px #cacaca; */


    text-decoration: none;
    letter-spacing: 1px;
    font-weight: 800;
    color: rgb(240, 240, 240);
    text-shadow: 2px 2px 0 #888888;


}

.nav_dzialy a:hover {
    color: rgb(255, 71, 71);
}

.materialy #wyklady {
    color: rgb(255, 71, 71);
}

.prakt #praktyki {
    color: rgb(255, 71, 71);
}

.akt #aktualnosci {
    color: rgb(255, 71, 71);
}

.omnie #o_mnie {
    color: rgb(255, 71, 71);
}

.nav_dzialy p {
    z-index: 20;
    color: rgb(70, 70, 70);
    font-size: 1.1rem;
    font-weight: 800;
    letter-spacing: 1.2px;
    margin: auto 50px;
    padding-left: 10px;
    display: none;
    border-left: 1px solid rgb(255, 71, 71);
    text-shadow: 1px 1px 2px #888888;
}

@media screen and (min-width: 1150px) {
    .nav_dzialy p {
        display: block;
    }

    .nav_dzialy span {
        font-size: 1.3rem;
        /* color: rgb(82, 82, 82); */
    }
}



/*-------------  5. footer  -------------------------------- */
/* --------------------------------------------------------- */
.footer {
    box-sizing: border-box;
    background-color: rgb(230, 230, 230);
    min-height: 20px;
    box-shadow: 0 -10px 8px #888888;
    padding: 5px 20px;
    text-align: right;
}

.footer p {
    font-size: 1.2rem;
    color: rgb(94, 94, 94);
}


/*-------------  6. main ----------------------------------- */
/* --------------------------------------------------------- */
.main {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 750px) {
    .main {
        flex-direction: row;
        align-items: stretch;
    }
}

/* ------------  7. nav_przedmioty ------------------------- */
/* --------------------------------------------------------- */
.nav_przedmioty {
    box-sizing: border-box;
    background: linear-gradient(to right top, darkgray 20%, rgb(150, 150, 150) 80%);
    width: 100%;
    min-height: 100px;
    border-bottom: 2px solid rgb(255, 71, 71);
    border-right: none;
}

.menu_przedmioty {
    padding-top: 25px;
    padding-bottom: 10px;
    padding-left: 10px;
    display: flex;
    flex-wrap: wrap;
}

.menu_przedmioty ul {
    display: block;
    width: 100%;
}

.menu_przedmioty li {
    display: block;
    padding-left: 25px;
    padding-right: 15px;
    padding-top: 2px;
    padding-bottom: 2px;
    display: flex;
    align-items: center;
    width: 100%;
    transition-property: transform;
    transition-duration: 0.5s;
}

.menu_przedmioty li:hover {
    transform: scale(1.1) translateX(22px);
    /* background: linear-gradient(90deg, rgba(255,255,255,0), rgba(139, 139, 139, 0.7)); */
    /* border-right:3px solid tomato; */
}

.pointer::before {
    content: '>';
    font-size: 2rem;
    display: block;
    margin-left: -23px;
    padding-right: 0;
    font-weight: 800;
    padding-right: 10px;
    padding-top: 0;
    padding-bottom: 0;
    color: rgb(255, 71, 71);
    text-shadow: 2px 2px 0 #888888;
}

.menu_przedmioty a {
    display: block;
    text-decoration: none;
    letter-spacing: 1px;
    font-weight: 800;
    color: rgb(240, 240, 240);
    text-shadow: 2px 2px 0 #888888;
}

@media screen and (min-width: 750px) {
    .nav_przedmioty {
        min-width: 140px;
        flex: 1;
        border-right: 3px solid rgb(255, 71, 71);
    }

    .menu_przedmioty li {
        display: block;
        padding-left: 25px;
        padding-right: 15px;
        padding-top: 5px;
        padding-bottom: 5px;
        display: flex;
        align-items: center;
        width: 100%;
        transition-property: transform;
        transition-duration: 0.5s;
    }

    .pointer::before {
        content: '>';
        font-size: 3rem;
        display: block;
        margin-left: -25px;
        padding-right: 0;
        font-weight: 800;
        padding-right: 10px;
        color: rgb(255, 71, 71);
        text-shadow: 2px 2px 0 #888888;
    }

    .menu_przedmioty li:hover {
        transform: translateX(20px) scale3d(1.2, 1.1, 0.75);
        /* background: linear-gradient(90deg, rgba(255,255,255,0), rgba(139, 139, 139, 0.7)); */
        /* border-right:3px solid tomato; */

    }
}

/* ------------  8. content -------------------------------- */
/* --------------------------------------------------------- */

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgb(230, 230, 230);
    /* box-shadow: 0 -10px 8px #888888; */
}

@media screen and (min-width: 750px) {
    .content {
        flex: 4;
        align-items: center;
        /* box-shadow: none; */
    }
}

@media screen and (min-width: 1200px) {
    .content {
        flex: 6;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
        /* box-shadow: none; */
    }
}

/* ------------  9. article -------------------------------- */
/* --------------------------------------------------------- */

.article {
    box-sizing: border-box;
    background-color: white;
    /* box-shadow: 2px 2px 3px #888888; */
    border: 1px solid black;
    /* border-radius: 10px; */
    /* min-width: 25%; */
    max-width: 95%;
    /* tymczasowe  */
    margin: 10px;
    padding: 10px;
}

.article:hover {
    border: 1px solid rgb(255, 71, 71);
}

@media screen and (min-width: 600px) {
    .article {
        max-width: 600px;
    }
}

@media screen and (min-width: 750px) {
    .article {
        max-width: 80%;
    }
}

@media screen and (min-width: 1200px) {
    .article {
        max-width: 45%;
    }
}

/* ----------- nagłówki artykułu ---------------- */

article h2 {
    font-size: 2rem;
    font-weight: 800;
    color: rgb(62, 134, 179);
    /* color: rgb(138, 38, 71); */
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

article h2::before,
article h2::after {
    content: '';
    display: block;
    border-bottom: 1px solid rgb(62, 134, 179);
    flex-grow: 1;
    margin: 0 10px;
}

article h2::before {
    flex-grow: 1;
}

article h2::after {
    flex-grow: 1;
}


article h3 {
    font-size: 1.6rem;
    font-weight: 800;
    color: rgb(62, 134, 179);
    /* text-align: center; */
    display: flex;
    align-items: center;
    padding-bottom: 5px;
    margin: 0 auto;
    /* border-bottom: 1px solid rgb(62, 134, 179); */
}

article h3::before,
article h3::after {
    content: '';
    display: block;
    border-bottom: 1px solid rgb(62, 134, 179);
    flex-grow: 1;
    margin: 0 10px;
}

article h3::before {
    flex-grow: 1;
}

article h3::after {
    flex-grow: 1;
}



/* ------------ Menu Wykłady ------------- */

.menu_wyklady {
    width: 100%;
    box-sizing: border-box;
    min-height: 2rem;
    font-size: 1.4rem;
}

.menu_wyklady caption {
 padding-bottom: 10px;

}

.menu_wyklady td {
    vertical-align: top;
    border-bottom: 1px solid darkgray;
    padding: 3px;
}

.menu_wyklady th {
    font-size: 1.2rem;
    font-weight: 800;
    border-bottom: 1px solid darkgray;
}

.menu_wyklady tfoot td,
.menu_wyklady tfoot th {
    border-bottom: none;
    font-size: 1rem;
}

.kolumna_1 {
    min-width: 90px;
    max-width: 100px;
}

.kolumna_2 {
    text-align: left;
}

.kolumna_3 {
    min-width: 60px;
    text-align: right;
}

.kolumna_3 a {
    display: block;

}

.kolumna_3 a img {
    width: 32px;
    height: 32px;
    padding-right: 20px;

}

.kolumna_3 a img {
    width: 32px;
    height: 32px;
    padding-right: 20px;
}

/* .kolumna_3 ::before {
      content: "";
      float: right;
      width: 30px;
      height: 30px;
      margin-right: 5px;
      background: url(images/images.png) no-repeat;
      background-size: 100%;
  } */


/* --------------------------------------------------------- */
.line {
    height: 1px;
    background: linear-gradient(90deg, rgba(255, 71, 71, 0), rgba(rgb(255, 71, 71, 0.795), rgba(255, 71, 71, 0)));
    border: 0px;

}